[Unit]
Description=Process Watchdog Service for AdProcess

[Service]
Type=oneshot
User=astepup
WorkingDirectory=/home/astepup
ExecStart=/usr/bin/python3 /home/astepup/PiWatchdog/PiWatchdog.py